canvas {
  image-rendering: pixelated;
  transform: scale(40);
  transform-origin:top left;
  position: absolute;
  -ms-interpolation-mode: bicubic;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges; /* so crisp */
  image-rendering: pixelated;
  pointer-events: none;
}

.pan-element {
  width: 0px;
  height: 0px;                                  
  overflow: visible;
}

.zoom-element {
  overflow: visible;
  transform-origin:top left;
}

.camera {
  flex: 4;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cursor {
  position: absolute;
  z-index: 2;
  background-image: url('/images/cursor.png');
  background-size: cover;
  width: 46px;
  height: 46px;
  image-rendering: crisp-edges;
  opacity: 0;
}

.coordinate-display {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 3%;
  transform: translate(-50%);
  font-family: monospace;
  font-weight: 600;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  user-select: none;  
  padding: 3px 12px 3px 12px; 
  border-radius: 10px;
}